<div class="body">
  <div class="collectionToolbar">
    <%= button_to "Filter", "/static_pages/filter", method: :get, class: "filterButton" %>
  </div>

  <% getAllProducts.each do |p| %>
    <% if checkColors(p) && checkSizes(p)%>
      <% if (checkCollections(p) || params[:id].to_i != 0) %>
        <div class="collectionProducts-item">
          <div class="collectionProducts-img">
            <% @image = getAllImagesForProduct(p).last %>
            <% if @image %>
              <%= image_tag "product_images/#{@image.name}", class: "image", :alt => @image.alt %>
            <% end %>
            <%= button_to "", "/products/#{p.id}", class: "collectionProducts-productOverlay", method: :get %>
            <button class="saveButton" save_product value="<%= p.id.to_s + ' ' + p.name %>"><%= image_tag("icons/plus_icon.png", :alt => "Save", :class => "saveButton-icon") %></button>
            <label id="<%= p.id %><%=params[:id]%>CP" class='hidden'></label>
            <script>
              if(checkSavedList('<%= p.id.to_s + ' ' + p.name %>')) {
                displaySaveLabel("<%= p.id %><%=params[:id]%>CP", "collectionProducts-saveLabel")
              }
            </script>
          </div>

          <div class="collectionProducts-description">
            <tr>
              <td><p class="collectionProducts-name"><%=p.name%></p></td>
              <td><p class="collectionProducts-price">$<%=price_dollars(p.price)%></p></td
            </tr>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>