<div class="body">
  <div class="collectionToolbar">

  </div>
  <% getAllProducts.each do |p| %>
    <div class="collectionProducts-item">
      <div class="collectionProducts-img">
        <button class="collectionProducts-saveOverlay" save_product value="<%= p.id.to_s + ' ' + p.name %>"></button>
        <label id="<%= p.id %><%=params[:id]%>CP" class='hidden'></label>
        <script>
          if(checkSavedList('<%= p.id.to_s + ' ' + p.name %>')) {
            displaySaveLabel("<%= p.id %><%=params[:id]%>CP", "collectionProducts-saveLabel")
          }
        </script>
      </div>

      <div class="collectionProducts-description">
        <tr>
          <td><p class="collectionProducts-name"><%=p.name%></p></td>
          <td><p class="collectionProducts-price">$<%=price_dollars(p.price)%></p></td
        </tr>
      </div>
    </div>
  <% end %>
</div>