<div class="body">
  <div class="collectionsFilter">
    <h1>Collections</h1>
    <%= form_for :collections, url: "/save_collections", :html => {:class => "filter-form-collections"} do |f| %>
      <div class="fields">
      <%= f.button "Select All", type: "button", id: "collections_all"%>
      <% Collection.all.each do |c| %>
          <div class="field">
            <%= f.label c.name %>
            <%= f.check_box c.name, :class => "collections_select" %>
          </div>
      <% end %>
      </div>
      <%= f.submit "Save Collections Filter" %>
    <% end %>
  </div>

  <div class="colorsFilter">
    <h1>Colors</h1>
    <%= form_for :colors, url: "/save_colors", :html => {:class => "filter-form-colors"} do |f| %>
    <div class="fields">
      <div class="field">
      <%= f.label "white" %>
      <%= f.check_box :white, :value => "white" %>
      </div>
      <div class="field">
      <%= f.label "gray" %>
      <%= f.check_box :gray %>
      </div>
      <div class="field">
      <%= f.label "red" %>
      <%= f.check_box :red %>
      </div>
      <div class="field">
      <%= f.label "purple" %>
      <%= f.check_box :purple %>
      </div>
      <div class="field">
      <%= f.label "blue" %>
      <%= f.check_box :blue %>
      </div>
      <div class="field">
      <%= f.label "green" %>
      <%= f.check_box :green %>
      </div>
      <div class="field">
      <%= f.label "brown" %>
      <%= f.check_box :brown %>
      </div>
      <div class="field">
        <%= f.label "black" %>
        <%= f.check_box :black %>
      </div>
      </div>
      <%= f.submit "Save Colors Filter" %>
    <% end %>
  </div>

  <div class="sizesFilter">
    <h1>Sizes</h1>
    <%= form_for :sizes, url: "/save_size" ,:html => {:class => "filter-form-size"} do |f| %>
      <div class="field">
      <%= f.label :size %>
      <%= f.select :size, options_for_select([ "s", "m", "l", "xl", "xxl" ]) %>
      </div>
      <%= f.submit "Save Size Filter" %>
    <% end %>
  </div>
</div>