<% @product = getRandomProduct %>
<% updateNewIns %>
<div class="body">
  <div class="randomProduct-container">
    <label id="<%= @product.id %>RP" class='hidden'></label>
    <script>
      if(checkSavedList('<%= @product.id.to_s + ' ' + @product.name %>')) {
        displaySaveLabel("<%= @product.id %>RP", "randomProduct-saveLabel")
      }
    </script>
    <div class="randomProduct-details">
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <p><%= "$" + price_dollars(@product.price).to_s %></p>
    </div>
    <button class="randomProduct-saveOverlay" save_product value="<%= @product.id.to_s + ' ' + @product.name %>"></button>
    <button class="saveButton" save_product value="<%= @product.name %>"><%= image_tag("icons/plus_icon.png", :alt => "Save", :class => "saveButton-icon") %></button>
  </div>

  <div class="popularProducts-section">
    <div class="section-header">
      <h1>Popular</h1>
      <a class="seeAll-button" href="/popular">see all +</a>
    </div>
    <div class="bannerScroll">
      <% getPopularProducts(10).each do |p| %>
        <div class="popularProducts-item">
          <div class="popularProducts-img">
            <% @image = getAllImagesForProduct(p).last %>
            <% if @image %>
              <%= image_tag "product_images/#{@image.name}", class: "image", :alt => @image.alt %>
            <% end %>
            <button class="popularProducts-saveOverlay" save_product value="<%= p.id.to_s + ' ' + p.name %>"></button>
            <label id="<%= p.id %>PP" class='hidden'></label>
            <script>
              if(checkSavedList('<%= p.id.to_s + ' ' + p.name %>')) {
                displaySaveLabel("<%= p.id %>PP", "popularProducts-saveLabel")
              }
            </script>
          </div>

          <div class="popularProducts-description">
            <tr>
              <td><p class="popularProducts-name"><%=p.name%></p></td>
              <td><p class="popularProducts-price">$<%=price_dollars(p.price)%></p></td
            </tr>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="collections-section">
    <div class="section-header">
      <h1>Collection</h1>
      <a class="seeAll-button" href="collections/0">see all +</a>
    </div>
    <div class="collections-gallery">
      <% Collection.first(4).each do |c| %>
        <form class="collections-item" action="collections/<%= c.id %>" method="get">
          <button class="collections-button">
            <h3><%= c.name %></h3>
            <p><%= c.products.count %> items</p>
          </button>
        </form>
      <% end %>
    </div>
  </div>

  <div class="subscribe-section">
    <h1>Newsletter</h1>
    <p>signup with our newsletter...</p>
    <%= form_for :subscription, :html => {:class => 'subscribe-form'}  do |f| %>
      <%= f.text_field :email, :placeholder => "Enter your Email" %>
      <button class="subscribe-submit"><%= image_tag("icons/send_icon.png", :alt => "Send", :class => "subscribe-icon") %></button>
    <% end %>
  </div>
</div>