<% @product = getRandomProduct %>

<div class="body">
  <div class="randomProduct-container">
    <script>
      if(checkSavedList('<%= @product.name %>')) {
        document.write("<label class='saveLabel'>SAVED</label>");
      }
    </script>
    <div class="randomProduct-details">
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <p><%= "$" + price_dollars(@product.price).to_s %></p>
    </div>
    <button class="saveOverlay" save_product value="<%= @product.name %>"></button>
    <button class="saveButton" save_product value="<%= @product.name %>"><%= image_tag("plus_icon.png", :alt => "Save", :class => "saveButton-icon") %></button>
  </div>
  <button clear_storage>clear storage</button>
</div>