<div class="body">

  <% provide(:title, @user.username) %>
  <h1>
    <%= gravatar_for @user %>
    <%= @user.username %>
  </h1>

  <p id="notice"><%= notice %></p>
  <div class="account_links">
    <%= link_to 'pending orders', carts_path %>
    <%= link_to 'update login details', edit_user_path(@user) %>
    <%= link_to 'subscription', subscribe_path %>


    <%= link_to 'logout', logout_path %>
  </div>
</div>