<%= form_with(model: cart, id: "cart_form") do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
        <% cart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :size %>
    <%= form.select :size, options_for_select([ "s", "m", "l", "xl", "xxl" ]) %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select :color, options_for_select([ "Black", "White", "Red", "Blue", "Green", "Purple", "Brown", "Gray" ]) %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.select :quantity, ((1..50).map {|i| [i,i] } << [1]) %>
  </div>

  <div class="field">
    <%= form.hidden_field :product_id, :value => @product.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, :value => @user.id %>
  </div>

  <div class="actions">
    <%= form.submit "add to bag",:id => "commit" %>
  </div>
<% end %>
