<div class="body">
  <% getPopularProducts(0).each do |p| %>
    <div class="popularProducts-item">
      <div class="popularProducts-img">
        <button class="popularProducts-saveOverlay" save_product value="<%= p.id.to_s + ' ' + p.name %>"></button>
        <label id="<%= p.id %>PP" class='hidden'></label>
        <script>
          if(checkSavedList('<%= p.id.to_s + ' ' + p.name %>')) {
            displaySaveLabel("<%= p.id %>PP", "popularProducts-saveLabel")
          }
        </script>
      </div>

      <div class="popularProducts-description">
        <tr>
          <td><p class="popularProducts-name"><%=p.name%></p></td>
          <td><p class="popularProducts-price">$<%=price_dollars(p.price)%></p></td
        </tr>
      </div>
    </div>
  <% end %>
</div>