<% @product = Product.find(params[:id])  %>
<% if (session[:user_id]) %>
  <% @user = User.find_by(:id => session[:user_id]) %>
<% else %>
  <% @user = User.new %>
<% end %>
<% @cart = Cart.new %>
<div class="body">
  <div class="imageDisplay-section">
    <label id="<%= @product.id %>RP" class='hidden' style="z-index: 3;"></label>
    <script>
      if(checkSavedList('<%= @product.id.to_s + ' ' + @product.name %>')) {
        displaySaveLabel("<%= @product.id %>RP", "randomProduct-saveLabel")
      }
    </script>
    <% getAllImagesForProduct(@product).each do |i| %>
      <%= image_tag "product_images/#{i.name}", class: "imageDisplay-image", :alt => i.alt %>
    <% end %>
    <button class="saveButton" save_product value="<%= @product.id.to_s + ' ' + @product.name %>"><%= image_tag("icons/plus_icon.png", :alt => "Save", :class => "saveButton-icon") %></button>
  </div>

  <div class="productDetails-section">
    <h1><%= @product.name %></h1>
    <p>$<%= price_dollars(@product.price) %></p>
    <p><%= @product.description %></p>
  </div>

  <div class="productForm-section">
    <%= render '/carts/form', cart: @cart %>
  </div>
</div>
<script>
</script>