<% @product = Product.find(params[:id])  %>
<% if (session[:user_id]) %>
  <% @user = User.find_by(:username => "RAD") %>
<% else %>
  <% @user = User.new %>
<% end %>
<% @cart = Cart.new %>
<div class="body">
  <div class="imageDisplay-section">
    <% getAllImagesForProduct.each do |i| %>
      <%= image_tag "product_images/#{i.name}", class: "imageDisplay-image", :alt => i.alt %>
    <% end %>
  </div>

  <div class="productDetails-section">
    <h1><%= @product.name %></h1>
    <p>$<%= price_dollars(@product.price) %></p>
    <p><%= @product.description %></p>
  </div>

  <div class="productForm-section">
    <%= render '/carts/form', cart: @cart %>
  </div>
</div>
<script>
</script>