<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="upperHeader">
      <%= link_to "RAD App", '#', id: "logo" %>
      <% if params[:action] == 'home' %>
        <h1>Home</h1>
      <% end %>
    </div>
    <%= stylesheet_link_tag "/app/assets/stylesheets/static_pages.scss" %>
    <script src="/app/assets/functions.js"></script>
    <div class="toolBar">
      <button class="toolBarButtons" menuOverlay><%= image_tag("menu_icon.png", :alt => "Menu", :class => "toolBarImages") %></button>
      <div id="menuOverlay" class="hidden">
        <button class="closeOverlay" menuOverlay><%= image_tag("close_icon.png", :alt => "Close Menu", :class => "toolBarImages") %></button>
        <div class="menuSection">
          <div class="menuSectionIcon-container">
            <%= image_tag("stack_icon.png", :class => "menuSectionIcon") %>
          </div>
          <div class="menuSectionList-container">
            <h2>shop</h2>
            <ul class="menuSectionList">
              <li>Men</li>
              <li>Women</li>
              <li>Kids</li>
              <li>New-ins</li>
            </ul>
          </div>
        </div>
        <div class="menuSection">
          <div class="menuSectionIcon-container">
            <%= image_tag("heart_icon.png", :class => "menuSectionIcon") %>
          </div>
          <div class="menuSectionList-container">
            <h2>Saved</h2>
          </div>
        </div>
        <nav class="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", static_pages_about_url %></li>
          </ul>
        </nav>
      </div>

      <div class="pageTitle">

        <% if params[:action] == 'about' %>
          <h2>About</h2>
        <% end %>
      </div>

      <div class="cartSearchGroup">
        <button class="toolBarButtons" cartOverlay><%= image_tag("bag_icon.png", :alt => "Cart", :class => "toolBarImages") %></button>
        <div id="cartOverlay" class="hidden">
          <button class="closeOverlay" cartOverlay><%= image_tag("close_icon.png", :alt => "Menu", :class => "toolBarImages") %></button>
        </div>

        <button class="toolBarButtons" searchOverlay><%= image_tag("search_icon.png", :alt => "Search", :class => "toolBarImages") %></button>
        <div id="searchOverlay" class="hidden">
          <button class="closeOverlay" searchOverlay><%= image_tag("close_icon.png", :alt => "Menu", :class => "toolBarImages") %></button>
          <input class="searchBox" type="text" placeholder="Search">
        </div>
      </div>

  </div>
</header>