<% if session[:user_id] %>
  <% @user = User.find_by(id: session[:user_id]) %>
<% else %>
  <% @user = User.new %>
<% end %>
<% current_uri = request.env['PATH_INFO'] %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="upperHeader">
      <% if params[:action] == 'home' %>
        <h1>Home</h1>
      <% end %>
    </div>

    <div class="toolBar">
      <% if checkPageType %>
        <%= link_to image_tag(asset_url("icons/close_icon.png"), :class => "toolBarImages"), url_for(:back), :class => 'toolBarButtons', :id => "close" %>
      <% else %>
        <%= form_for :carts, url: "/static_pages/menu", method: "get", :html => {:class => 'toolBarButtons', :id => "menu"} do |form| %>
          <%= form.submit "", :type => :image, :src => asset_url("icons/menu_icon.png"), :class => "toolBarImages"%>
        <% end %>

      <% end %>
      <div class="pageTitle">

        <% if current_uri == '/about' %>
          <h2>About</h2>
        <% end %>
        <% if current_uri == '/help' %>
          <h2>Help & Support</h2>
        <% end %>
        <% if current_uri == '/collections/' + params[:id].to_s && !(params[:id].to_s === "0") %>
          <h2><%= Collection.find(params[:id]).name %></h2>
        <% end %>
        <% if params[:action] == 'products/popular' %>
          <h2>Popular</h2>
        <% end %>
        <% if current_uri == '/login' %>
          <h2>Login</h2>
        <% end %>
        <% if current_uri == '/signup' %>
          <h2>Signup</h2>
        <% end %>
        <% if current_uri == '/carts' %>
          <h2>Bag</h2>
          <p>(<%= Cart.all.where("user_id = " + session[:user_id].to_s).count() %>)</p>
        <% end %>
        <% if current_uri == '/static_pages/search' %>
          <h2>search</h2>
        <% end %>

        <% if params[:action] %>
          <% puts params[:action] + " ------------------------ " + request.env['PATH_INFO']%>
        <% end %>

      </div>
      <% unless checkPageType %>
        <div class="cartSearchGroup">
          <%= form_for :carts, url: "/carts", method: "get", :html => {:class => 'toolBarButtons'} do |form| %>
            <%= form.submit "", :type => :image, :src => asset_url("icons/bag_icon.png"), :class => "toolBarImages"%>
          <% end %>

          <%= form_for :search, url: "/static_pages/search", method: "get", :html => {:class => 'toolBarButtons'} do |form| %>
            <%= form.submit "", :type => :image, :src => asset_url("icons/search_icon.png"), :class => "toolBarImages"%>
          <% end %>
        </div>
      <% end %>
  </div>
</header>