<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="upperHeader">
      <% if params[:action] == 'home' %>
        <h1>Home</h1>
      <% end %>
    </div>

    <div class="toolBar">
      <button class="toolBarButtons" menuOverlay><%= image_tag("menu_icon.png", :alt => "Menu", :class => "toolBarImages") %></button>
      <div id="menuOverlay" class="hidden">
        <button class="closeOverlay" menuOverlay><%= image_tag("close_icon.png", :alt => "Close Menu", :class => "toolBarImages") %></button>
        <div class="menuSection">
          <div class="menuSectionIcon-container">
            <%= image_tag("stack_icon.png", :class => "menuSectionIcon") %>
          </div>

          <div class="menuSectionList-container">
            <h2>shop</h2>
            <nav>
              <ul class="menuSectionList">
                <li>Men</li>
                <li>Women</li>
                <li>Kids</li>
                <li>New-ins</li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="menuSection">
          <div class="menuSectionIcon-container">
            <%= image_tag("heart_icon.png", :class => "menuSectionIcon") %>
          </div>
          <div class="menuSectionList-container">
            <h2>Saved</h2>
            <ul id="saveList" class="menuSectionList">
              <script>
                  for(var i = 0; i < window.localStorage.length; i++) {
                    var item = window.localStorage.key(i).split(/\s(.+)/);
                    console.log("item " + i);
                    for(var x in item) {
                      console.log(item[x]);
                    }
                    var node = document.createElement("LI");
                    var linkNode = document.createElement("A")
                    linkNode.href = "product/" + item[0];
                    var textnode = document.createTextNode(item[1]);
                    node.appendChild(linkNode);
                    linkNode.appendChild(textnode);
                    document.getElementById("saveList").appendChild(node);
                  }
              </script>
            </ul>
          </div>
        </div>

        <div class="menuSection">
          <nav class="menuNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><div class="menuSectionIcon-container"><%= image_tag("home_icon.png", :class => "menuSectionIcon") %></div><%= link_to "Home", root_path %></li>
              <li><div class="menuSectionIcon-container"><%= image_tag("about_icon.png", :class => "menuSectionIcon") %></div><%= link_to "About", static_pages_about_url %></li>
              <li><div class="menuSectionIcon-container"><%= image_tag("help_icon.png", :class => "menuSectionIcon") %></div><%= link_to "Help & Support", static_pages_help_url %></li>
            </ul>
          </nav>
        </div>

      </div>

      <div class="pageTitle">

        <% if params[:action] == 'about' %>
          <h2>About</h2>
        <% end %>
        <% if params[:action] == 'help' %>
          <h2>Help & Support</h2>
        <% end %>
        <% if params[:action] == 'collections/show' %>
          <h2><%= Collection.find(params[:id]).name %></h2>
        <% end %>

      </div>

      <div class="cartSearchGroup">
        <button class="toolBarButtons" style="margin-right: 1em;" cartOverlay><%= image_tag("bag_icon.png", :alt => "Cart", :class => "toolBarImages") %></button>
        <div id="cartOverlay" class="hidden">
          <button class="closeOverlay" cartOverlay><%= image_tag("close_icon.png", :alt => "Menu", :class => "toolBarImages") %></button>
        </div>

        <button class="toolBarButtons" searchOverlay><%= image_tag("search_icon.png", :alt => "Search", :class => "toolBarImages") %></button>
        <div id="searchOverlay" class="hidden">
          <button class="closeOverlay" searchOverlay><%= image_tag("close_icon.png", :alt => "Menu", :class => "toolBarImages") %></button>
          <input class="searchBox" type="text" placeholder="Search">
        </div>
      </div>
  </div>
</header>